header {
  background-color: #383838;
  height: 75px;
}

body {
  background-color: #f7f7f7;
}

footer {
  border-top: 1px solid #888;
  background-color: white;
}

.top-link,
.top-home-link,
.top-button,
.top-title,
.row-title,
.prod-opt,
.foot-heading,
.cat-name {
  font-family: Helvetica, Arial, sans-serif;
}

.top-title {
  color: white;
  font-weight: bold;
}

img.logo {
  width: 50px;
}

img.icon {
  width: 25px;
}

.top-home-link {
  color: #d35266;
}

.top-home-link:hover {
  color: white;
}

.top-link,
.row-title,
.about-info {
  color: #888;
}

.top-link:hover {
  color: white;
}

.top-button {
  color: white;
  font-weight: bolder;
  background-color: #d35266;
  width: 120px;
  height: 40px;
}

.top-button:hover {
  color: white;
}

.product-row {
  margin: 2vw 0 2vw 0;
}

.product-title {
  font-weight: normal;
}

.product-img {
  width: 90%;
  height: 60%;
}

.amount {
  color: #d35266;
  font-weight: bold;
}

.product-foot {
  background-color: white;
  border: none;
}

.add-product {
  font-size: 3vw;
  text-align: center;
  padding: 0;
  background-color: white;
  color: #888;
  border: 1px solid #888;
  border-radius: 0%;
  width: 5vw;
  height: 5vw;
}

.add-product:hover {
  background-color: #383838;
  border-color: #383838;
  color: #d35266;
}

.prod-opt:hover {
  color: white;
  background-color: #383838;
}

.about {
  margin-top: 20px;
}

.logo-foot {
  margin-top: 20px;
  width: 70%;
  height: 40%;
  background-color: #383838;
}

.cat-foot,
.cred-foot,
.other-info {
  margin-top: 60px;
}

.foot-heading {
  color: #d35266;
  font-weight: normal;
  width: 100%;
  border-bottom: 1px solid #d35266;
}

.cat-list {
  width: 100%;
  padding: 0;
  margin: 0;
}

.cat-name {
  list-style-type: none;
  margin-top: 5px;
}

.fcat-link {
  color: #888;
}

.fcat-link:hover {
  color: #d35266;
}

.info-variable {
  color: #d35266;
  font-size: 17px;
  margin-right: 5px;
}

.info-value {
  font-size: 17px;
  color: #383838;
  border: 1px solid #383838;
}

@media only screen and (max-width: 1024px) {
  .logo-foot {
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  .top-link,
  .top-button {
    font-size: 14px;
  }

  .top-title,
  .foot-heading,
  .info-variable,
  .info-value {
    font-size: 16px;
  }

  img.logo {
    width: 35px;
  }

  .logo-foot {
    width: 25vw;
    height: 10vw;
  }
}
